@import url('https://fonts.googleapis.com/css?family=Cinzel');

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(151, 160, 175);
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#ecran {
  width: 100%;
  height: 100%;
  position: relative;
}
#ecran .flex {
  display: flex;
  justify-content: center;
}
#ecran canvas {
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
}
#ecran .background {
  z-index: 1;
}
#ecran .foreground {
  z-index: 2;
}
#ecran .effects {
  z-index: 3;
}

#menu {
  width: 100%;
  height: 100%;
}

#menu .gridMenu {
  display: grid;
  grid-template-columns: auto auto;
}

#menu .title {
  grid-column: 1;
  grid-row: 1;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 8%;
}

#menu .title span {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  background-color: rgba(108, 122, 137, 0.4);
  border-radius: 5px;
}

#menu #choixPerso {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#menu #picturePerso {
  height: 200px;
  margin: 10px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#menu #compte {
  grid-column: 1;
  grid-row: 3;
  margin: auto;
  padding-top: 6%;
}

#menu .titreChoixPerso,
#menu .titreChoixDonjon,
#menu .titreChoixCompte
 {
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color: rgba(108, 122, 137, 0.4);
  border-radius: 5px;
  padding: 5px;
}

#menu #choixDonjon {
  grid-column: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
