html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(151, 160, 175);
  overflow: hidden;
  display: flex;
  justify-content: center;
}
#ecran {
  margin: auto;
  background-color: rgb(90, 96, 104);
  border: 12px solid rgb(90, 96, 104);
  border-radius: 6px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
