@import url('https://fonts.googleapis.com/css?family=Cinzel');

html, body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgb(151, 160, 175);
}

/*
**  ECRAN
*/
#ecran {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#ecran .flex {
  display: flex;
  justify-content: center;
}
#ecran canvas {
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  position: absolute;
}
#ecran .background {
  z-index: 1;
}
#ecran .foreground {
  z-index: 2;
}
#ecran .effects {
  z-index: 3;
}

/*
**  MENU
*/
#menu {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#menu .gridMenu {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows : 1fr 2fr 1fr;
}

#menu .title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: auto;
  padding-top: 3%;
  padding-bottom: 8%;
}

#menu .title span {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Cinzel', serif;
  background-color: rgba(108, 122, 137, 0.4);
  border-radius: 5px;
}

#menu #choixPerso {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'Cinzel', serif;
}
#menu #choixPerso #selectionPerso {
  margin: auto;
}
#menu #choixPerso #btnLeft,
#menu #choixPerso #btnRight {
  background-color: rgb(236,236,236);
  border: 2px solid rgb(34, 49, 63);
  border-radius: 16px;
  cursor: pointer;
}
#menu #choixPerso #nouveauPerso {
  font-family: 'Cinzel', serif;
  margin-top: 6%;
  border: 2px solid rgb(34, 49, 63);
  background-color: rgb(236,236,236);
  border-radius: 4px;
  padding: 4px 10px;
  font-size: medium;
  transition-duration: 0.4s;
}
#menu #choixPerso #nouveauPerso:hover {
  cursor: pointer;
  border: 2px solid rgb(34, 49, 63);
  background-color: rgb(151, 160, 175);
}

#menu #picturePerso {
  height: 200px;
  margin: 10px;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

#menu #compte {
  grid-column: 1;
  grid-row: 3;
  margin: auto;
  padding-top: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#menu #compte #nomCompte {
  font-family: 'Cinzel', serif;
  font-size: large;
}

#menu .titreChoixPerso,
#menu .titreChoixDonjon,
#menu .titreChoixCompte
 {
  text-align: center;
  font-family: 'Cinzel', serif;
  background-color: rgba(108, 122, 137, 0.4);
  border-radius: 5px;
  padding: 5px;
}

#menu #choixDonjon {
  height: 92%;
  padding: 2% 5%;
  margin: auto;
  grid-column: 2 / 3;
  grid-row : 1 / 4;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
#menu #creerDonjonButton {
  font-family: 'Cinzel', serif;
  margin-top: 4%;
  border: 2px solid rgb(34, 49, 63);
  background-color: rgb(236,236,236);
  border-radius: 4px;
  padding: 4px 10px;
  margin-bottom: 2%;
  font-size: medium;
  transition-duration: 0.4s;
}
#menu #creerDonjonButton:hover {
  cursor: pointer;
  border: 2px solid rgb(34, 49, 63);
  background-color: rgb(151, 160, 175);
}

/*
**  CREATION PERSO
*/
#creationPerso {
  font-family: 'Cinzel', serif;
  overflow: visible;
}
#creationPerso .flex {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  background-color: rgb(236,236,236);
  border: 4px solid rgb(34, 49, 63);
  border-radius: 4px;
  margin-top: 2%;
  text-align: center;
}
#creationPerso .message {
  display: none;
  color: rgb(150, 40, 27);
}
#creationPerso input[type="text"] {
  transition-duration: 0.5s;
  text-align: center;
  border: 2px solid rgb(34, 49, 63);
  border-radius: 4px;
  padding: 5px 10px;
  font-size: large;
}
#creationPerso h3 {
  margin-top: 6%;
}
#creationPerso p {
  text-align: justify;
  text-justify: inter-word;
  padding: 2px 20px;
}
#creationPerso input[type="submit"] {
  margin-top: 4%;
  margin-bottom: 2%;
  border: 2px solid rgb(34, 49, 63);
  background-color: rgb(236,236,236);
  border-radius: 4px;
  padding: 6px 16px;
  font-size: large;
  transition-duration: 0.4s;
}
#creationPerso input[type="submit"]:hover {
  cursor: pointer;
  border: 2px solid rgb(34, 49, 63);
  background-color: rgb(151, 160, 175);
}