@import url('https://fonts.googleapis.com/css?family=Cinzel');s

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', sans-serif;
    /*display: flex;
    flex-direction: row;
    justify-content: center;*/
}

a, a:hover {
  text-decoration: none;
}

.separation {
  height: 3px;
  width: 10%;
  border : none;
  box-shadow: none;
  background-color: #1E5532;
}

#message {
  color: white;
  position: absolute;
  top : 530px;
  left: 580px;
}

/* header */
.header {
  background-color: #1E5532;
  height: 80px;
  line-height: 80px;
}

.logo {
  color : white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  margin-left: 10px;
}

.menu {
  float: right
}

.menu a {
  color: white;
  margin-right: 30px;
}

.menu a:hover {
  color: #193441;
}

/* banniere */
.banniere {
  width: 100%;
  max-width: 100%;
}

.ban {
  width: 100%;
  max-width: 100%;
}

.ban img {
  width: 100%;
  max-width: 100%;

}

.inner-banner {
    position : absolute;
    top : 30%;
    left: 0;
    text-align: center;
}

#centre {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: grid;

}

#fenetre {
    position: absolute;
    display:flex;
    flex-direction: column;
    left: 550px;
    bottom: -270px;
    border: outset 5px;
    border-radius: 18px;
    height: 280px;
    transition: 0.4s;
    min-width: 340px;
}

/* Boutons */
#buttons {
    display: flex;
    flex-direction: row;
    min-height: 70px;
}

.chMenu {
    font-size: 30px;
    margin: 0px;
    padding: 15px;
}
#btn_connexion {
    border-radius: 10px 0px 0px 0px;
}
#btn_inscription {
    border-radius:0px 10px 0px 0px;
}
.btn_validation {
    margin-top: 10px;
}

/* Formulaires */
#inscription {
    display: none;
}

.formulaire {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.formulaire input {
    width: 200px;
    align-content: center;
    transform: translateX(74.5px);
}

.formulaire input[type="submit"] {
    width: 85px;
    transform: translateX(132px);
}

.champ {
    font-size: 20px;
    border:solid 1px;
    width: 200px;
    margin-bottom: 15px;
}

.labelForm {
    color: white;
    padding-bottom: 0px;
    font-size: 20px;
}

#fade {
    transition: 0.3s;
}
